<div ng-show="diagnosis === ''" class="panel panel-default row-panel">
  <h1 class="text-center">Disease</h1>
    <div class="panel-body">
       <h3>{{ question }}</h3>
           <img src="img/dog1.jpg" class="img-responsive">
    </div>
    <div class="panel-footer">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="sendResponse('true')">True</button>
        <button type="button" class="btn btn-primary" ng-click="sendResponse('false')">False</button>
      </div>
    </div>
</div>

<div ng-show="diagnosis !== ''">

	<p>{{ diagnosis }} </p>

</div>

<button ng-click="facts()" class = "btn btn-default">facts</button>
<button ng-click="remove()">remove</button>