<section class="wrapper">

  <div class="row">
    <div class="col-lg-9 main-chart col-centered">

      <div class="row mt">
        <!-- SERVER STATUS PANELS -->
        <div class="col-md-4 col-sm-4 mb" ng-click="init('aggression')">
          <div class="white-panel pn donut-chart">
            <div class="white-header">
              <h5>Aggression</h5>
            </div>
            <p>
              <img src="/DogeClient/app/img/categories/aggression.jpg"
                class="img-circle" width="70%">
            </p>
          </div>
          <!-- /grey-panel -->
        </div>
        <!-- /col-md-4-->


        <div class="col-md-4 col-sm-4 mb" ng-click="init('coughing')">
          <div class="white-panel pn">
            <div class="white-header">
              <h5>Coughing</h5>
            </div>
            <p>
              <img src="/DogeClient/app/img/categories/coughing.jpg"
                class="img-circle" width="70%">
            </p>
          </div>
        </div>
        <!-- /col-md-4 -->

        <div class="col-md-4 mb">
          <!-- WHITE PANEL - TOP USER -->
          <div class="white-panel pn">
            <div class="white-header">
              <h5>Choose Your Dog</h5>
            </div>
            <p>
              <img src="/DogeClient/app/img/categories/choose.jpg"
                class="img-circle" width="70%">
            </p>
          </div>
        </div>
        <!-- /col-md-4 -->

      </div>
      <!-- /row -->


      <div class="row mt">
        <div class="col-md-4 mb">
          <!-- WHITE PANEL - TOP USER -->
          <div class="white-panel pn">
            <div class="white-header">
              <h5>Eyes</h5>
            </div>
            <p>
              <img src="/DogeClient/app/img/categories/eyes.jpg"
                class="img-circle" width="70%">
            </p>
          </div>
        </div>
        <!-- /col-md-4 -->



        <div class="col-md-4 mb">
          <!-- WHITE PANEL - TOP USER -->
          <div class="white-panel pn">
            <div class="white-header">
              <h5>Ears</h5>
            </div>
            <p>
              <img src="/DogeClient/app/img/categories/ears.jpg"
                class="img-circle" width="70%">
            </p>
          </div>
        </div>
        <!-- /col-md-4 -->


        <div class="col-md-4 mb">
          <!-- WHITE PANEL - TOP USER -->
          <div class="white-panel pn">
            <div class="white-header">
              <h5>TOP USER</h5>
            </div>
            <p>
              <img src="assets/img/ui-zac.jpg" class="img-circle"
                width="80">
            </p>
            <p>
              <b>Zac Snider</b>
            </p>
            <div class="row">
              <div class="col-md-6">
                <p class="small mt">MEMBER SINCE</p>
                <p>2012</p>
              </div>
              <div class="col-md-6">
                <p class="small mt">TOTAL SPEND</p>
                <p>$ 47,60</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /col-md-4 -->

      </div>
      <!-- /row -->

    </div>
    <!-- /col-lg-9 END SECTION MIDDLE -->


  </div>
  <!--/row -->
</section>