   <div class="row-fluid">
      <div class="col-sm-6">
        <img src="app/img/dog1.jpg" class="img-responsive img-button">
      </div>
      <div class="col-sm-6">
        <img src="app/img/dog2.jpg" class="img-responsive img-button">
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-sm-6">
        <img src="app/img/dog1.jpg" class="img-responsive img-button">
      </div>
      <div class="col-sm-6">
        <img src="app/img/dog2.jpg" class="img-responsive img-button">
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-sm-6">
        <img src="app/img/dog1.jpg" class="img-responsive img-button">
      </div>
      <div class="col-sm-6">
        <img src="app/img/dog2.jpg" class="img-responsive img-button">
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-sm-6">
        <img src="app/img/dog1.jpg" class="img-responsive img-button">
      </div>
      <div class="col-sm-6">
        <img src="app/img/dog2.jpg" class="img-responsive img-button">
      </div>
    </div>