html {
    height: 100%;
}

body {
    height: 100%;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.navbar-brand {
  height: 80px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.test {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.row-fluid {
    margin-top:2%;
    height:20%;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
}

.row-panel {
  margin-top:2%;
  height:70%;
  width: 75%;
  text-align: center;
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0 auto;
  background-color: #fffaaa;
  position: relative;
  overflow-y:scroll;
}

.panel-footer {
  position: absolute;
  width: 100%;
  height:10%;
  bottom: 0;
}

.rounded {
   border-radius: 10px 10px 10px 10px;
   background-color: #000000;
}

 .img-button {
   max-height: 100%;
   max-width: 100%;
   object-fit: cover;
}

/*.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
} */
